
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #070707;
  color: #b3b5b0;
}

.header {
  background: #020103;
  color: rgb(176, 173, 179);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.nav a {
  color: rgb(197, 191, 191);
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background: #ddd;
}

.btn-whatsapp {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #25d366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.servicios, .galeria {
  padding: 40px 20px;
  background: white;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #f9f9f9;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
